@notify-prefix: ami-notify;
// @prefix："ami-notify";
@notify-zindex: 1111;
@transition-time: 0.2s;
@notify-border-radius: 3px;
@white-color: #fff;
// outer container
.@{notify-prefix} {
  z-index: @notify-zindex;
  position: relative;
  &-hide {
    animation: notify-hide @transition-time ease-in-out;
    animation-fill-mode: forwards;
  } 
  margin-top: 10px;
  transition: all @transition-time;
  .@{notify-prefix} {
    &-container {
      max-height: 1000px;
      background-color: @white-color;
      border-radius: @notify-border-radius;
      display: inline-block;
      transition: @transition-time;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
    }
    &-content {
      // transition:height .2s ease-in-out padding .2s ease-in-out;
      padding: 0 18px;
      transition: @transition-time;
    }
  }
  &-show {
    .@{notify-prefix}-container {
      opacity: 1;
    }
    .@{notify-prefix}-content {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

@keyframes notify-hide {
  0% {
    opacity: 1;
    height: 100%;
    margin-top: 10px;
  }
  100% {
    opacity: 0;
    height: 0;
    margin-top: 0px;
  }
}