@notify-prefix: ami-notify;
// @prefix："ami-notify";
@notify-zindex: 1111;
@transition-time: 0.2s;
@notify-border-radius: 3px;
@white-color: #fff;
// outer container
.@{notify-prefix} {
  z-index: @notify-zindex;
  position: relative;
  &-hide {
    animation: notify-hide 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }
  transition:height cubic-bezier(0.6, -0.28, 0.735, 0.045) .2s;
  .@{notify-prefix} {
    &-container {
      max-height: 1000px;
      margin-top: 10px;
      background-color: @white-color;
      border-radius: @notify-border-radius;
      display: inline-block;
      transition: 0.2s;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
    }
    &-content {
      padding: 0 18px;
      transition: .2s;
    }
  }
  &-show {
    .@{notify-prefix}-container {
      opacity: 1;
    }
    .@{notify-prefix}-content {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

@keyframes notify-hide {
  0% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    height: 0;
    transform: translateY(-100%)
    // transform: translateY(calc(-100% - 10px))
  }
}